In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.Connection("data/data2.sqlite")

In [2]:
pd.read_sql('''
SELECT
    customerNumber,
    contactLastName,
    contactFirstName
FROM
    customers
JOIN 
    orders
        USING(customerName)
WHERE
    orderDate = '2003-01-31'
''', conn)

DatabaseError: Execution failed on sql '
SELECT
    customerNumber,
    contactLastName,
    contactFirstName
FROM
    customers
JOIN
    orders
        USING(customerName)
WHERE
    orderDate = '2003-01-31'
': cannot join using column customerName - column not present in both tables